/* Main Section */

.side-pane {
    position: fixed;
    top: 0;
    right: -300px;  
    width: 300px;
    height: 100vh;
    overflow-y: auto;
    background-color:  rgba(16, 16, 16, 0.85);
    border-left: 1px solid #2a2a2a;
    z-index: 100;
    transition: right 0.3s ease;
    padding: 10px;
}

.side-pane.open {
    right: 0;     
}

.pane-item {
    font-size: 1.4rem;
    font-weight: 700;
    color: #e74c3c;
    letter-spacing: 0.06em;
    line-height: 1;
    padding-bottom: 10px;
}

.pane-image {
    width: 100%;
    aspect-ratio: 4/3;
    object-fit: cover;
    display: block;
    filter: brightness(0.85) saturate(0.8);
    margin-top: 20px;
}

/* Metadata */

.pane-meta {
    padding: 12px 16px;
    border-bottom: 1px solid #646464;
}

.pane-meta-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 0;
    border-bottom: 1px solid #434343;
}

.pane-meta-row:last-child {
    border-bottom: none;
}

.pane-key {
    font-size: 0.65rem;
    color: #666;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}

.pane-value {
    font-size: 0.8rem;
    color: #e8e8e8;
}

.pane_ob_class {
    background-color: transparent;
    border: 1px solid #c0392b;
    color: #c0392b;
    font-size: 0.6rem;
    padding: 2px 8px;
    border-radius: 3px;
    text-transform: uppercase;
    letter-spacing: 0.08em;
}

.pane_rating {
    background-color: transparent;
    color: #fdad01;
    font-size: 0.8rem;
    padding: 2px 8px;
    border-radius: 3px;
    text-transform: uppercase;
    letter-spacing: 0.08em;
}

/* Description */

.pane-section {
    padding: 14px 16px;
    border-bottom: 1px solid #2a2a2a;
}

.pane-section-title {
    font-size: 0.7rem;
    font-weight: 700;
    color: #e74c3c;
    text-transform: uppercase;
    letter-spacing: 0.12em;
    margin-bottom: 8px;
}

.pane-section-text {
    font-size: 0.8rem;
    color: #888;
    line-height: 1.7;
    margin: 0;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 7;
    line-clamp: 7;
    overflow: hidden;
}

.pane-btn-container {
    display: flex;
}

.pane-close {
    background-color: transparent;
    border: none;
    position: fixed;
    top: 5px;
    right: 0px;
    color: #888;
}

.pane-close:hover {
    border-color: #888;
    color: #e8e8e8;
}
.view-record{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
    padding: 10px;
    background-color: #202020;
    border: 1px solid #2a2a2a;
    border-radius: 4px;
    color: #888;
    font-size: 0.7rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.08em;
    cursor: pointer;
}

.view-record:hover {
    border-color: #888;
    color: #e8e8e8;
}

